# Allow the command prompt to wrap to the next line
set horizontal-scroll-mode Off

# CTRL+left and CTRL+right to skip words, CTRL+space to redraw line
"\eOC": forward-word
"\eOD": backward-word
C-SPACE: redraw-current-line